.float-button {
  position: fixed;
  height: 90px;
  width: 40px;
  bottom: 90px;
  right: 50px;
  background: #b4d145;
}
.float-talk {
  position: fixed;
  height: 70%;
  width: 50%;
  bottom: 190px;
  right: 50px;
  background: #b4d145;
}
#btn{
  width: 80px;
  height: 80px;
  border-radius: 10%;
  box-shadow: 11px 7px 10px 1px rgb(0 0 0 / 50%);
}
